.loader-popup{
    background-color: rgb(25, 24, 24);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 16;
    min-height: 10rem;
    min-width: 10rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 1rem;
}
.loader{
    min-height: 5rem;
    min-width: 5rem;
}
.loader-popup>p{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}
.overlay{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    visibility: hidden;
}
.active{
    visibility: visible;
    background-color: rgba(0,0,0,0.5);
}
