.root-div{
    background-color: green;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}
.main-div{
    flex: 1;
    background-color:orange;
    display: flex;
    flex-direction: column;
}
.detail-div{
    background-color:red;
    height: 70px;
}
.extras-div{
    background-color:purple;
    height: 70px;
}
.notes-div{
    background-color:pink;
    flex: 1;
    display: flex;
    flex-direction: row;
    padding:0 25px ;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}