.sidebar{
    background-color: #0a84ee;
    height: 100vh;
    width: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: none;
}
.user{
    width: 100%;
    height: 70px;
    background-color: #0373d5;
}
.list{
    padding: none;
    margin: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.link{
    text-decoration: none;
    color: black;
}
.list-item{
    width: 100%;
    height: 50px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: none;
    padding: none;
    font-family: "Rubik";
    font-size: 1.3rem;
}
.list-item:hover{
    cursor: pointer;
    background-color:#0865b7;
}
.list-item.active{
    background-color:#0865b7;
    border-left: 3px solid white;
}

