.container{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: none;
}
.title,.description{
    border-radius: 5px;
    height: fit-content;
    /* max-height: 40px; */
}
.title,.description,.detail{
    width: 80%;
    margin-bottom: 15px;
    background-color: white;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 40px;
}
.description{
    padding: 5px;
    text-align: center;
}
